*{
    padding: 0;
    margin: 0;
}
#game{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}
#block{
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative;
    left: 400px;
    animation: block 2s infinite linear;
}
@keyframes block{
    0%{left:400px}
    100%{left:-50px}
}
#hole{
    width: 50px;
    height: 150px;
    background-color: white;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear;
}
#character{
    width: 20px;
    height: 20px;
    background-image: url('https://static.wikia.nocookie.net/officialclubpenguinonline/images/3/3c/Puffle_2014_Transformation_Player_Card_Black.png/revision/latest?cb=20200229122511');
    position: absolute;
    top: 100px;
	object-fit: contain;
    border-radius: 50%;
}
